.venv/
.venv-win/
__pycache__/
*.pyc
.env
.env.local
.vscode/
.idea/

.next/
node_modules/
dist/
build/

*.log
runtime-logs/

*.db
*.db-shm
*.db-wal

*.mp4
config/ultralytics/Ultralytics/persistent_cache.json
.codex
*.pbf